.cart-summary-bg {
  box-shadow: 1px 1px 5px 3px #bfbfbf;
  margin-bottom: 10px;
  width: 180px;
  border-radius: 5px;
  padding-left: 10px;
}
.price-bold {
  font-weight: bold;
  height: 10px;
  color: black;
}
.order-total {
  height: 10px;
  color: #616e7c;
  font-size: 12px;
}

.cart-summary-bg-bg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.check-btn {
  background-color: #0b69ff;
  border-style: none;
  color: white;
  text-align: center;
  height: 20px;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 30px;
}
